@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/responsive.less"; // Don't forget to comment lines 22 to remove the second import call to **mixin.less**

@import "../bower_components/font-awesome/less/font-awesome.less";
@FontAwesomePath: "../fonts";

.hero-unit {
	margin: 50px auto 0 auto;
}

div.lettering {
	line-height: 1.4em;
}

body {
	overflow-x: hidden;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

body.cssZoom {
	span.letter {
		display: inline-block;
		b {
			display: block;
		}
	}
}

div#controls {
	position: absolute;
	bottom: 0;
}



span.letter {
	// display: block;
	// float: left;
	text-align: center;
	// margin-top: 1em;
	position: relative;
	min-width: 0.2em; 
	
	-moz-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
}


b {
	position: relative
}

// span.current:after
i#cursor {
	display: inline;
	// float: left;
	height: 0px;
	content: '';
	width: 0px;

	b {
		position: relative;
		// top: 1em;
		right: 0px;
		height: 1em;
		animation: thePulse infinite 1.5s ease-in-out;
		-webkit-animation: thePulse infinite 1.5s ease-in-out;		
	}
}

@-webkit-keyframes thePulse {
      0% { box-shadow: 0 0 0 1px rgba(0,0,0,1); }
     50% { box-shadow: 0 0 0 1px #000; }
    100% { box-shadow: 0 0 0 0px rgba(0,0,0,0); }
}
